body {
    margin: 0;
    height: 100vh;
    background-color: black;
}

h2, h3, p {
    font-weight: 100;
    margin: 0px;
    font-family: 'Lazy-Dog';
    color: #353535;
}

h2 { font-size: 60px; }
h2 { font-size: 40px; }
p { font-size: 28px; }

/* * * * * * * * * * * * */
/*         fonts         */
/* * * * * * * * * * * * */

@font-face {
    font-family: October-Crow;
    src: url("../font/October Crow.ttf");
}

@font-face {
    font-family: Lazy-Dog;
    src: url("../font/Lazy Dog.ttf");
}

.hero > p {
    text-transform: lowercase;
    font-family: 'Heebo', sans-serif;
    font-size: 50px;
    letter-spacing: -1px;
    color: #911;
    position: relative;
    text-align: center;
    top: -8vh;
}

i {
    font-size: 35px;
}

/* * * * * * * * * * * * */
/*    header && footer   */
/* * * * * * * * * * * * */

header {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.headerWrap {
    width: 75%;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
}

.headerLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.headerCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    position: absolute;
    font-size: 6.66vw;
    font-family: October-Crow;
    font-weight: lighter;
}

.title::after {
    content: "PHASMEOWPHOBIA";
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

footer {
    background-color: black;
    height: 100px;
    width: 100%;
    z-index: 999;
}

/* * * * * * * * * * * * */
/*        content        */
/* * * * * * * * * * * * */

.hero {
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filmGrain {
    z-index: 3;
    background-image: url("../img/noise.gif");
    background-repeat: repeat;
    opacity: 0.04;
    position:absolute;
    height:100%;
    width:100%;
}

.darken {
    z-index: 2;
    background-color: black;
    opacity: 0.3;
    position:absolute;
    height:100%;
    width:100%;
}

.imgBackground {
    z-index: -999;
    position:absolute;
    width: inherit;
    height: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:850px) {
    .headerWrap {
        width: 100%;
        margin: 0px 20px; 
    }

    .title {
        font-size: 60px;
    }
    
    .title::after {
        content: "P";
    }
}

@media (min-width:1900px) {
    .title {
        font-size: 111px;
    }
}